body {
    background: #173637;
    display: flex;
}
.titulo {
    position: absolute;
    z-index: 999;
    font-family: bicyclette;
    font-size: xx-large;
    color: white;
    margin-left: 5%;
}

.gallery {
    position: relative;
    width: 100%;
    display: flex;
	margin-left: 7%;
	margin-right: 7%;
    padding: 25vh 10vw;
    overflow-x: auto;
    overflow-y: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        white 2%,
        white 98%,
        transparent
    );
    -webkit-mask-image: linear-gradient(
        to right,
        transparent,
        white 2%,
        white 98%,
        transparent
    );
}

.gallery::-webkit-scrollbar {
    height: 5px;
}
.gallery::-webkit-scrollbar-thumb {
    background-color: #9b9b9b;
}
.gallery::-webkit-scrollbar-track {
    background-color: #f1f1f177;
}

.card {
    position: relative;
    left: 0px;
    width: 155px;
    height: 210px;
    padding: 8px;
    background-color: white;
    border-radius: 8px;
    transition: 1s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 25px;
    font-family: "bicyclette";
    color: white;
    font-weight: bold;
    font-size: larger;
    flex-shrink: 0;
}

.card:nth-child(1) {
    background-color: #015a6b;
}
.card:nth-child(2) {
    background-color: #348a5d;
}
.card:nth-child(3) {
    background-color: #6b645b;
}
.card:nth-child(4) {
    background-color: #96747a;
}
.card:nth-child(5) {
    background-color: #ad2c34;
}
.card:nth-child(6) {
    background-color: #3b3c5a;
}
.card:nth-child(7) {
    background-color: #df9938;
}

.card:not(:first-child) {
    margin-left: -55px;
}

.card:hover {
    transform: translateY(-16px);
    font-weight: bold;
    cursor: pointer;
}
.card:hover ~ .card {
    left: 55px;
}
.card p {
    transition: opacity 1s ease;
    opacity: 0;
}

.card:hover p {
    display: flex;
    opacity: 1;
}
a {
    text-decoration: none;
}
