/* pc */
.sala-botao {
  position: absolute;
  left: 90.5vw;
  top: 4.5vh;
  width: 7vw; 
  height: 7vh; 
  border: none;
  color: #fff;
  cursor: pointer;
  background: #249068;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1vw;
  text-align: center;
  line-height: 2.5vh;
  z-index: 99;
  font-size: 3vh;

}
.sala-menu {
  position: absolute;
  display: flex;
  right: -9vw;
  top:2vh;
  padding: 0.5vh 0;
  margin: 0;
  list-style: none;
  text-align: center;
  font-size: 3vw;
  z-index: 9;
  transform: translateX(100%);
  transition: transform 0.7s ease-in-out, opacity 0.5s ease-in-out;
}
.sala-menu.aberto {
  right: -9vw;
  transform: translateX(-100%); 
}
.sala-menu.oculta {
  opacity: 0;
  right: -30vw;
  transform: translateX(0%);
  transition: transform 0.7s ease-in-out, opacity 0.5s ease-in-out;
}
#salaMenu li {
  background-color: #1cbb81;
  color: #fff;
  padding: 0.3vh 0;
  margin: 1vw;
  border-radius: 1vw;
  width: 7vw;
  height: 7vh;
  cursor: pointer;
  border-bottom: 0.1vh solid #ccc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#salaMenu li:hover {
  background-color: #eee;
  border-radius: 0.8vw;
  color: #1cbb81;
}
#sala-but:focus + #salaMenu {
  display: block;
}

.sala-menu.oculta {
  top: -150px;
}
#salaMenu:hover a {
  color: #575757;
}
#salaMenu:hover a:hover {
  color: #5cdb95;
  box-shadow: 0 2px 0 0 currentColor;
}
#salaMenu li:hover a {
  color: purple;
}

.days {
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  flex-direction: column;
  position: relative;
  left: 7vw;
  top: -128vh;
  margin: 0;
  z-index: 999;
} 
.days2{
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  flex-direction: column;
  position: relative;
  left: 7vw;
  top: -248vh;
  margin: 0;
  z-index: 999;
}
#mensagem1b{
  margin-top: 16vh;
}
#mensagem1c{
  margin-top: 15.5vh;
}
#mensagem1d{
  margin-top: 16vh;
}
#mensagem1e{
  margin-top: 16vh;
}
#mensagem2b{
  margin-top: 16vh;
}
#mensagem2c{
  margin-top: 16vh;
}
#mensagem2d{
  margin-top: 16vh;
}
#mensagem2e{
  margin-top: 16vh;
}
.days li,
.days2 li {
  width: 40vw;
  height: 11vh;
  z-index: 999;
  margin: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 1000;
  font-size: 1.7vw;
  line-height: 4.5vh;
  color: #ffffff;
  mix-blend-mode: normal;
}


mensagem1a {
  position: absolute;
  width: 168px;
  height: 149px;
  left: 506px;
  top: 190px;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  /* or 125% */
  text-align: center;
  color: #ffffff;
  mix-blend-mode: normal;
}
mensagem1b {
  position: absolute;
  width: 168px;
  height: 149px;
  left: 506px;
  top: 355px;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  /* or 125% */
  text-align: center;
  color: #fff;
  mix-blend-mode: normal;
}
